<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/output.css">
    <title>Hadist</title>
</head>
<body>
    <div class="h-screen w-screen flex justify-center items-center bg-black text-white">
        <div class="w-4/6 h-full flex flex-col justify-center items-center">
            <h1 class="text-center italic text-lg font-serif">"<%= res.hadith_english  %>"</h1>
            <h1 class="text-center font-bold">-<%= res.refno  %>-</h1>
            <a href="/" class="mt-10 border-2 border-white w-28 flex justify-center items-center h-12 rounded-lg">Generate</a>
        </div>
    </div>
</body>
</html>